name: pull-request
on:
  schedule:
    - cron: '0 */1 * * *'
jobs:
  beo-pull-request:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: pull-request
      uses: repo-sync/pull-request@v2
      with:
        source_branch: "beo"
        destination_branch: "master"            
        github_token: ${{ secrets.PAT }}
        pr_title: "Pulling beo branch into master"   # Title of pull request
        pr_body: ":bell: *Scheduled automated PR* :robot: <br> adds latest computation :computer: results." # Full markdown support, requires pr_title to be set        
        pr_label: "auto-pr"                                    # Comma-separated list (no spaces)
    
  dev-pull-request:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: pull-request
      uses: repo-sync/pull-request@v2
      with:
        source_branch: "dev"
        destination_branch: "master"            
        github_token: ${{ secrets.PAT }}
        pr_title: "Pulling dev branch into master"   # Title of pull request
        pr_body: ":bell: *Scheduled automated PR* :robot: <br> adds latest computation :computer: results." # Full markdown support, requires pr_title to be set        
        pr_label: "auto-pr"         

  md-pull-request:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: pull-request
      uses: repo-sync/pull-request@v2
      with:
        source_branch: "md"
        destination_branch: "master"            
        github_token: ${{ secrets.PAT }}
        pr_title: "Pulling md branch into master"   # Title of pull request
        pr_body: ":bell: *Scheduled automated PR* :robot: <br> adds latest computation :computer: results." # Full markdown support, requires pr_title to be set        
        pr_label: "auto-pr"     
  
  cd-pull-request:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: pull-request
      uses: repo-sync/pull-request@v2
      with:
        source_branch: "md"
        destination_branch: "master"            
        github_token: ${{ secrets.PAT }}
        pr_title: "Pulling cd branch into master"   # Title of pull request
        pr_body: ":bell: *Scheduled automated PR* :robot: <br> adds latest computation :computer: results." # Full markdown support, requires pr_title to be set        
        pr_label: "auto-pr"    
        
# reference: https://github.com/marketplace/actions/github-pull-request-action
# github actions bot: #github_token: ${{ secrets.GITHUB_TOKEN }}
